<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>PAGE NOT FOUND</h1>
	<a th:href="@{/danh-sach-nsd/1/5}">Home</a>
</body>
</html>