<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Người sử dụng</title>
	<!-- Latest compiled and minified CSS & JS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<style>
		.close:hover{
			color:red;
			opacity: 1;
		}
	</style>
</head>
<body>
	<th:block th:replace="~{/fragments/app :: nav-default}"></th:block>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-6"><a href="#" th:href="@{/them-moi-nsd}" class="btn btn-sm btn-default pull-left">Thêm mới</a></div>
			<div class="col-xs-6">
				<form th:action="@{/tim-kiem}" th:object="${nsdSearchForm}" method="POST">
					<a th:href="@{/huy-tim-kiem}" class="btn btn-sm btn-default pull-right">Hủy</a>
					<button type="submit" class="btn btn-sm btn-default pull-right">Tìm</button>
					<input type="text" th:field="*{tenDangNhap}" th:value="*{tenDangNhap}" class="pull-right">
				</form>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>STT</th>
						<th>Tên đăng nhập</th>
						<th>Email</th>
						<th>Số điện thoại</th>
						<th>Ngày tạo</th>
						<th colspan="3" width="5%"></th>
					</tr>
				</thead>
				<tbody>
				 <th:block th:if="${not #lists.isEmpty(nsds)}">
					<tr th:each="item,index : ${nsds}">
						<td th:text="${index.count}"></td>
						<td th:text="${item.tenDangNhap}"></td>
						<td th:text="${item.email}"></td>
						<td th:text="${item.dienThoai}"></td>
						<td  th:text="${#dates.format(item.ngayTao,'dd-MM-yyyy')}"></td>
						<td><button class="btn btn-sm btn-default">Detail</button></td>
						<td><a th:href="@{/cap-nhat-nsd/{id}(id=${item.id})}" class="btn btn-sm btn-default">Cập nhật</a></td>
						<td><button class="btn btn-sm btn-default" data-toggle="modal" th:attr="onclick=|delClick('${item.id}','${item.tenDangNhap}')|" href='#modal-id'>Xóa</button></td>
					</tr>
				</th:block>
				</tbody>
			</table>
			Records: <select class="btn btn-sm btn-default" onchange="window.location = this.value;">
				<option th:selected="${pageable.total == 1}" th:value="@{/danh-sach-nsd/1/1}">1</option>
				<option th:selected="${pageable.total == 5}" th:value="@{/danh-sach-nsd/1/5}">5</option>
				<option th:selected="${pageable.total == 10}" th:value="@{/danh-sach-nsd/1/10}">10</option>
				<option th:selected="${pageable.total == 20}" th:value="@{/danh-sach-nsd/1/20}">20</option>
			</select><br>
			<ul class="pagination">
				<li th:each="p : ${pagination}"><a th:href="@{/danh-sach-nsd/{page}/{total}(page=${p},total=${pageable.total})}" th:text="${p}"></a></li>
			</ul>
		</div>
	</div>
	
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Thông báo</h4>
				</div>
				<div class="modal-body">
					<h3>Xác nhận xóa người sử dụng <i><strong id="ten_dang_nhap"></strong></i> ?</h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
					<a th:href="@{/xoa-nsd}" id="delConfirm" type="button" class="btn btn-danger">Xác nhận</a>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function delClick(id,tenDangNhap){
			$("#ten_dang_nhap").text(tenDangNhap);
			var href = $("#delConfirm").attr('href');
			$("#delConfirm").attr('href',href+'/'+id);
		}
	</script>
</body>
</html>