<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form name="f" th:action="@{/save}" th:object="${nsd}" method="POST">
			Tài khoản: <input type="text" name="tenDangNhap" th:field="*{tenDangNhap}" th:value="*{tenDangNhap}"><br/>
			<th:block th:if="${#fields.hasErrors('tenDangNhap')}">
				<span th:if="${#fields.hasErrors('tenDangNhap')}" th:errors="*{tenDangNhap}" style="color:red"></span><br>
			</th:block>
			Mật khẩu: <input type="password" name="matKhau" th:field="*{matKhau}" th:value="*{matKhau}"><br/>
			<th:block th:if="${#fields.hasErrors('matKhau')}" >
				<span th:errors="*{matKhau}" style="color:red"></span><br>
			</th:block>
			Email: <input type="email" name="email" th:field="*{email}" th:value="*{email}"><br/>
			<th:block th:if="${#fields.hasErrors('email')}" >
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span><br>
			</th:block>
			Điện thoại: <input type="text" name="dienThoai" th:field="*{dienThoai}" value="*{dienThoai}"><br>
			<th:block th:if="${#fields.hasErrors('dienThoai')}" >
				<span th:if="${#fields.hasErrors('dienThoai')}" th:errors="*{dienThoai}" style="color:red"></span><br>
			</th:block>
			<button type="submit">Lưu</button>
		</form>
	</div>
	<table border=1 cellspacing=0>
		<tr>
			<th>STT</th>
			<th>Tên đăng nhập</th>
			<th>Email</th>
			<th>Số điện thoại</th>
			<th colspan="3"></th>
		</tr>
		<th:block th:if="${not #lists.isEmpty(nsds)}">
			<tr th:each="nsd, status : ${nsds}">
				<td th:text="${status.count}"></td>
				<td th:text="*{nsd.tenDangNhap}"></td>
				<td th:text="*{nsd.email}"></td>
				<td th:text="*{nsd.dienThoai}"></td>
				<td><a href="/" th:href="@{/detail/{id}(id=${nsd.id})}">Chi tiết</a></td>
				<td><a href="#">Cập nhật</a></td>
				<td><a href="#">Xóa</a></td>
		</th:block>
	</table>
	<ul th:if="${not #lists.isEmpty(pagination)}">
		<li th:each="li : ${pagination}"><a href="/" th:href="@{/index/{page}/{total}(page=${li},total=${total})}" th:text="${li}"></a></li>
	</ul>
</body>
</html>