<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Thêm mới người sử dụng</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS & JS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<style>
		.close:hover{
			color:red;
			opacity: 1;
		}
	</style>
</head>
<body>
	<th:block th:replace="~{/fragments/app :: nav-default}"></th:block>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4"></div>	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<form name="f" th:action="@{${isUpdate} ? '/cap-nhat-nsd-submit':'/them-moi-nsd-submit'}" th:object="${nsd}" method="POST">
					<legend>Thêm mới người sử dụng</legend>
					<span th:if="${#request.getParameter('status') == 'successed'}" class="text-success">Success</span>
					<span th:if="${#request.getParameter('status') == 'errors'}" class="text-danger">Errors</span>
					<input type="hidden" th:value="*{id}" th:field="*{id}"> 
					<div class="form-group">
						<label for="tenDangNhap">Tên đăng nhập</label>
						<input type="text" class="form-control" id="tenDangNhap" th:field="*{tenDangNhap}" th:readonly="${isUpdate}" th:value="*{tenDangNhap}">
						<span th:if="${#fields.hasErrors('tenDangNhap')}" th:errors="*{tenDangNhap}" style="color:red"></span>
						<span th:text="${error}" style="color:red"></span>
					</div>
				
					<div class="form-group">
						<label for="matKhau">Mật khẩu</label>
						<input type="password" class="form-control" id="matKhau" th:field="*{matKhau}" th:value="*{matKhau}">
						<span th:if="${#fields.hasErrors('matKhau')}" th:errors="*{matKhau}" style="color:red"></span>
					</div>

					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" th:field="*{email}" th:value="*{email}">
						<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
					</div>

					<div class="form-group">
						<label for="dienThoai">Số điện thoại</label>
						<input type="text" class="form-control" id="dienThoai" th:field="*{dienThoai}" th:value="*{dienThoai}">
						<span th:if="${#fields.hasErrors('dienThoai')}" th:errors="*{dienThoai}" style="color:red"></span>
					</div>	
					<a href="#" th:href="@{/danh-sach-nsd/1/5}" class="btn btn-primary pull-right">Quay lại</a>
					<span class="pull-right">&nbsp;</span>
					<button type="submit" class="btn btn-primary pull-right">Lưu</button>
				</form>
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-4"></div>	
		</div>
	</div>
</body>
</html>